$cascaderPrefixCls: ui-cascader;
$item-hover-bg: #e6f7ff;
$hover-color: #1890ff;
$active-color: #1890ff;
$disabled-color: #f3f5f7;
$background-color-base: #d5f1fd;
$highlight-color: #f5222d;

.#{$cascaderPrefixCls} {
  .tag-input-box {
    width: 300px;
  }

  &-menus {
    font-size: $base-fontSize;
    background: $menu-default-bg-color;
    box-shadow: $box-shadow-base;
    white-space: nowrap;

    ul,
    ol {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &-empty,
    &-hidden {
      display: none;
    }
  }

  &-menu {
    display: inline-block;
    vertical-align: top;
    min-width: 111px;
    height: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
    border-right: 1px solid $base-theme-default;
    overflow: auto;

    &:last-child {
      border-right-color: transparent;
      margin-right: -1px;
    }
  }

  &-menu-item {
    position: relative;
    padding: $base-padding;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.3s;

    &:hover {
      background: $item-hover-bg;
      color: $hover-color;
    }

    &-disabled {
      cursor: not-allowed;
      color: $disabled-color;

      &:hover {
        background: transparent;
      }
    }

    &-expand {
      padding-right: 24px;
    }

    &-active:not(&-disabled) {
      &,
      &:hover {
        background: $background-color-base;
        color: $active-color;
      }
    }

    &-expand-icon,
    &-loading-icon {
      position: absolute;
      right: 5px;

      &:after {
        position: absolute;
        font-size: 12px;
        right: ($base-height - $base-fontSize) / 2;
        margin-top: - $base-fontSize / 2;
      }
    }

    &-keyword {
      color: $highlight-color;
    }
  }
}

